<h1 class="text-center">Enter Your Contact Number</h1>
<form method='GET' action="/getcontact">
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Name</label>
      <input type="text" class="form-control nameInput" id="exampleInputName1" name="exampleInputName1">
    </div>
    <div class="mb-3">
      <label for="exampleInputNumber1" class="form-label">Contact Number</label>
      <input type="tel" class="form-control numberInput" id="exampleInputNumber1" name="exampleInputNumber1" minlength="9">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>